<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/header_3.ejs') %> 
<body>
    <header id="main-header"><h1>Roaming Usecase</h1></header>
    <ol>
        <% for(var person of message) { %>
            <li>
                <div><a href="/CSPAdmin/<%= username %>/GetAllSubscriberSims/<%= person["PublicKey"] %>"><%= person["PublicKey"] %></a></div>
                <br>
            </li>
        <% } %>
    </ol>
    <%- include('./partials/footer.ejs')%>
</body>
</html>

